[DjangoSettings]
SECRET_KEY=django-insecure-noz+5u0cf1ym@fb$=*rsgx0h+j)4rb(&x1e$-08a4=qqlo^5r4
DEBUG=True
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=https://929e-2a01-5ec0-d802-9f91-b115-cf9d-a9bb-fe9b.ngrok-free.app
REDIS_URL=redis://127.0.0.1:6379/0

[Proxy]
PROXY_SOCKS=127.0.0.1:2022

[Bot]
BOT_NAME=BaseProject
TOKEN=<token>
BOT_USERNAME=<bot-username>
BOT_USER_ID=<bot-id>
BASE_URL=https://api.telegram.org/bot{}/{}

[Api]
FORCE_SCRIPT_NAME=/blind/
